@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-Italic.ttf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-Bold.ttf');
    font-style: regular;
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-BoldItalic.ttf');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-Black.ttf');
    font-style: regular;
    font-weight: 900;
}

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-BlackItalic.ttf');
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-Black.ttf');
    font-style: regular;
    font-weight: 900;
}

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-BlackItalic.ttf');
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-Light.ttf');
    font-style: regular;
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-LightItalic.ttf');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-Thin.ttf');
    font-style: regular;
    font-weight: 100;
}

@font-face {
    font-family: 'Lato';
    src: url('/src/assets/fonts/Lato/Lato-ThinItalic.ttf');
    font-style: italic;
    font-weight: 100;
}

html {
    font-family: 'Lato', sans-serif;
}

@layer utilities {
    .word-spacing-normal {
        word-spacing: normal;
    }

    .word-spacing-wide {
        word-spacing: 1.125rem;
    }

    .word-spacing-wider {
        word-spacing: 1.25rem;
    }
    
    .word-spacing-widest {
        word-spacing: 1.5rem;
    }
}